.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.img{
  width: 100%;
  height: 120px;
  margin-top: 3px;
  margin-bottom: 3px;
  border: solid black 2px;
}
#head{
  background: green;
  color: white;
  padding: 5px;
  font-size: 30px;
}
#score {
  display: inline;
  position: absolute;
  right: 30px;
}
#stuff {
  background: url("./Assets/images/background.jpg");
}
#grid {
  columns: 4;
  column-gap: 10px;
  width: 70%;
  padding: 0 10px;
  margin: auto;
  position: relative;
}
footer{
  background: green;
  padding: 10px;
}